@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 7%;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 70px 30px;
  max-width: 900px;
  width: 100%;
}

.pokeCard {
  padding: 20px;
  background-color: white;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 20px;
  padding-bottom: 30px;
  cursor: pointer;
}

.pokeInfo {
  text-align: center;
}

.pokeImg {
  max-width: 100px;
  height: auto;
  margin-top: -29%;
}

.pokeNumber {
  font-size: 14px;
  color: #888;
  font-family: 'GalanoGrotesqueBold';
}

.pokeName {
  font-size: 18px;
  padding-bottom: 10px;
  margin: 5px 0;
  text-transform: capitalize;
  font-family:"GalanoGrotesqueBold";
}

.rotate-image {
  animation: rotate 2s linear infinite; /* Aplicar la animación llamada 'rotate' */
}

@keyframes rotate {
  from {
    transform: rotate(0deg); /* Rotación inicial */
  }
  to {
    transform: rotate(360deg); /* Rotación completa (una vuelta completa) */
  }
}