.type-container{
  display: flex;
  align-items: center;
  justify-content: center;
}

.type{
  display: inline-block;
  border-radius: 5px;
  padding: 5px 8px;
  font-family: 'GalanoGrotesqueBold';
  font-size: 0.7vw;
  margin-left: 5px;
}

.type-fire{background-color:#FF994E; color: #7B490F}
.type-fairy{background-color:grey}
.type-ghost{background-color:grey}
.type-poison{background-color:#B87FC8; color: #4f1161}
.type-flying{background-color: #79aad2; color: #2d4251}
.type-grass{background-color:#ABE686; color: #528B33}
.type-water{background-color:#8FB4FF; color: #092D6E}
.type-bug{background-color:#7ea864; color: #2c4f19}
.type-normal{background-color:#a6a6a6; color: #5e5c5c}
.type-ground{background-color:#FFCD83; color: #2c4f19}
.type-steel{background-color: #698179; color: #3d4b46}
.type-fighting{background-color: #E06B63}
.type-dragon{background-color: grey}
.type-physic{background-color: grey}
.type-ice{background-color: grey}
.type-dark{background-color: grey}
